@import "tailwindcss";
@font-face {
    font-family: font1;
    src: url(../public/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(../public/Lausanne-500.woff2);
}
.move1{
    opacity:0;
}
.link1:hover .move1{
    opacity:100%;
    transition:all 0.3s ease-in ;
}
.move2{
    opacity:0;
}
.link2:hover .move2{
    opacity:100%;
    transition:all 0.3s ease-in ;
}
.move3{
    opacity:0;
}
.link3:hover .move3{
    opacity:100%;
    transition:all 0.3s ease-in ;
}
.move4{
    opacity:0;
}
.link4:hover .move4{
    opacity:100%;
    transition:all 0.3s ease-in ;
}
